h2 {
  margin-top: 50px;
  text-align: center;
}

.calculate-container {
  width: 300px;
  margin: 40px auto 50px;
}

#calculate-table {
  width: 400px;
  margin: 0 auto 70px;
  display: none;
}

.search {
  width: 270px;
  margin: 30px auto;
}

#myUL {
  display: none;
}

.list-group-item > a {
  text-decoration: none;
  color: rgb(21, 54, 143);
}
